[submodule "fest-vibes-ai-client"]
	path = fest-vibes-ai-client
	url = git@github.com:aaronfeingold/fest-vibes-ai-client.git
    branch = main
[submodule "fest-vibes-ai-ETL"]
	path = fest-vibes-ai-ETL
	url = git@github.com:aaronfeingold/fest-vibes-ai-ETL.git
    branch = main
[submodule "fest-vibes-ai-landing-page"]
	path = fest-vibes-ai-landing-page
	url = git@github.com:aaronfeingold/fest-vibes-ai-landing-page.git
